*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
.main-container{
    margin: 0 auto;
    width: 70%;
    display: flex;
}
.left-part{
    margin-top: 100px;
    width: 50%;
}

.right-part{
    margin-top: 100px;
    margin: 0 auto;
    margin-top: 100px;
    
}
.shop-btn{
    background-color: #E55473;
    color: white;
    font-size: 16px;
    padding: 10px 30px 10px 30px;
    border: none;
    border-radius: 10px;
}

.featured-section{
    text-align: center;
    margin-top: 100px;
}

.img-section{
    margin-top: 100px;
    display: flex;
    gap: 100px;
    justify-content: center;
}

.img-section img{
    border-radius: 100px 100px 5px 5px;
   
}


.info-section{
    display: flex;
    gap: 100px;
    justify-content: space-evenly;
    width: 70%;
    margin: 0 auto;
    background-color: #aae0771a;
    margin-bottom: 100px;
}

.info-details{
    display: flex;
    margin-top: 100px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-details img{
    height: 83px;
    width: 77px;    
}
.info-details p{
    margin-top: 20px;
}

.sale-section{
    margin-top: 300px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.signup-btn{
    background-color: #E55473;
    color: white;
    font-size: 16px;
    padding: 10px 30px 10px 30px;
    border: none;
    border-radius: 10px;
}

.latest-section{
    background-image: url("/resources/Rectangle\ 9.png");
    background-repeat: no-repeat;
    text-align: center;
    height: 500px;
    margin-top: 100px;

}

.sub-btn{
    background-color: #E55473;
    color: white;
    font-size: 16px;
    padding: 10px 30px 10px 30px;
    border: none;
    border-radius: 10px;
     margin-left: 50px;
}

input{
    padding: 10px 30px 10px 30px;
    border: none;
    padding-right: 200px;
}


